* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,nav,p,label,li{
 font-family: 'Noto Serif JP', serif;
}
a{
  color: #fff;
  text-decoration: none;
}
 /*-------------font-size----------------*/
.title-lv1{
  font-size: 75px;
  letter-spacing: .4em;
}
.title-lv2{
  font-size: 50px;
  letter-spacing: .4em;
}
.title-lv3{
  font-size: 40px;
  letter-spacing: .4em;
}
.title-lv4{
  font-size: 28px;
  letter-spacing: .25em;
}
.text-lv1{
  font-size: 28px;
  letter-spacing: .25em;
}
.text-lv2{
  font-size: 20px;
  letter-spacing: .25em;
}

ul{
  list-style: none;
}
/*----------------top-----------*/
body{
  background-color: #111;
}
.top-content{
  padding: 0 0 200px 0;
  display: flex;
}
.top-menu{
  width: 640px;
  color: #fff;
}
.top-text{
  padding-top: 100px;
  padding-left: 100px;
}
.top-text li{
  margin-top: 40pt;
}
.top-text li:first-child{
  margin-top: 0px;
}
.top-image{
  width: 1280px;
  height: 1080px;
  background-image: url('img/06E6B9DF-843A-4F75-A797-FC6B13FC41B9.jpg');
  background-size: cover;
  background-position: center;
}

/*---------------------about------------*/
#about{
  display: flex;
  position: relative;
  padding: 0 0 200px 0;
}
.about-box{
  width: 520px;
  border: 3px solid #fff;
  text-align: center;
  padding-top: 35px;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 250px;
  z-index: 1;
}
.about-subtitle{
  padding-top: 35px;
}
.about-text{
  padding: 60px 20px;
}
.about-back{
  margin: 0 0 0 500px;
  height: 740px;
  width: 100%;
  background-color: #444;
  z-index: 0;
  position: relative;
}
.about-image-box-shop{
  width: 480px;
  height: 540px;
  position: absolute;
  top: -30px;
  left: 600px;
  background-image: url('img/FE84995F-494D-4C3D-8F00-2ACD25B21936.jpg');
  background-size: cover;
  background-position: center;
}
.about-image-box-food{
  width: 400px;
  height: 300px;
  background-color: #aaa;
  position: absolute;
  top: 400px;
  left: 330px;
  background-image: url('img/B88440DC-6CE9-4F1F-882A-E8D915758230.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/*---------------------menu----------------*/
.menu-back{
  width: 100%;
  background-color: #fff;
  height: 2700px;
}
#menu{
  margin: 0 100px;
  height: 2350px;
}
.menu-link-padding{
  text-align: center;
  padding: 100px 0;
  margin: 0 100px 100px 100px;
  border-bottom: 2px solid #000;
}
.menu-link-padding a{
  color: #000;
}
/*tekeoutでも使用する*/
.content-title {
  padding: 150px 0 0 0;
  display: flex;
	align-items: center;
}
.content-title:before,
.content-title:after {
  content: "";
  flex-grow: 1;
  height: 2.5px;
  background: #000;
}
.content-title:before{
  margin:0 2em 0 0;
}
.content-title:after{
  margin:0 0 0 2em;
}
.content-box-text{
  width: 66%;
  margin: 100px auto;
}
/*---*/
/*---------------------menuのcard----------------*/
.menu-conteiner{
  width: 100%;
  position: relative;
  z-index: 0;
}
.menu-shadow{
  width: 100%;
  max-width: 1080px;
  height: 600px;
  background-color: #444;
  z-index: -1;
}
.nabe-shadow{
  position: absolute;
  top: 30px;
  left: 30px;
}
.meat-shadow{
  position: absolute;
  top: 600px;
  right: -30px;
}
.korea-shadow{
  position: absolute;
  top: 1170px;
  left: 30px;
}
.menu-card{
  max-width: 1080px;
  height: 600px;
  background-color: #fff;
  border: 1.5px solid;
  box-sizing: border-box;
  display: flex;
}
.card-nabe{
  position: absolute;
  top: 0px;
  left: 0px;
}
.card-meat{
  position: absolute;
  top: 570px;
  right: 0px;
  background-color: #111;
  color: #fff;
}
.card-korea{
  position: absolute;
  top: 1140px;
  left: 0px;
}
.menu-card-text{
  width: 40%;
}
.menu-card-title{
  text-align: center;
  padding: 50px 0 0 0;
}
.menu-card-detail{
  padding: 50px 20px;
}
.menu-card-box-image{
  width: 60%;
}
.menu-card-iamge{
  max-width: 560px;
  height: 420px;
  margin: 90px 10px auto;
  background-image: url('img/E3CCDCC9-9ABA-4435-8FEC-EEFE5EF8E7ED.jpg');
  background-size: cover;
  background-position: center;
}

/*---------------------takeout----------------*/
#takeout{
  margin: 0 100px;
  color: #fff;
}
/*tekeoutでも使用する*/
.takeout-title {
  padding: 150px 0 0 0;
  display: flex;
	align-items: center;
}
.takeout-title:before,
.takeout-title:after {
  content: "";
  flex-grow: 1;
  height: 2.5px;
  background: #fff;
}
.takeout-title:before{
  margin:0 2em 0 0;
}
.takeout-title:after{
  margin:0 0 0 2em;
}
.tekeout-conteiner{
  width: 1280px;
  padding-bottom: 200px;
  margin: 0 auto;
  border-bottom: 1.5px solid;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.takeout-item{
  width: 400px;
}
.takeout-image{
  width: 400px;
  height: 400px;
}
.nabe-image{
  background-image: url('img/F8CC9570-0988-42A2-89E9-1B20C14C8FD2.jpg');
  background-size: cover;
  background-position: center;
}
.niku-image{
  background-image: url('img/4F73F333-6B6B-4308-ACEB-859BFDA7342F.jpg');
  background-size: cover;
  background-position: center;
}
.korea-image{
  background-image: url('img/0AF95AB2-9332-46D4-90DA-3774DC10B2C4.jpg');
  background-size: cover;
  background-position: center;
}
.takeout-text{
  padding: 20px;
  text-align: center;
}

/*---------------------access----------------*/
#access{
  width: 100%;
  position: relative;
}
.access-back{
  width: 66%;
  height: 100px;
  margin: 100px auto 100px 0;
  background-color: #444;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.access-title{
  text-align: center;
   padding: 100px 0;
   color: #fff;
}
.access-conteiner{
  max-width: 1280px;
  padding-bottom: 250px;
  margin: 0 auto;
}
.access-conteiner p{
  padding-top: 50px;
  color: #fff;
  text-align: center;
}
.access-image{
  width: 480px;
  height: 360px;
  margin: 100px auto;
  background-image: url('img/0AF95AB2-9332-46D4-90DA-3774DC10B2C4.jpg');
  background-size: cover;
  background-position: center;
}

/*---------------------footer----------------*/
.footer-content{
  background-color: #560D04;
  text-align: center;
  padding: 100px 0 150px 0;
  color: #fff;
}
.footer-content p{
  padding:40px 0 0 0;
}
.footer-content p:first-child{
  padding: 0;
}