<div class="container-fluid p-0 background-gradient">
  <div class="under-header"></div>
  <div class="row my-40 mx-0 menu-title">
    <div class="col-8 p-0 h-100 mx-auto title-image-recommendation">
      <div class="h-100 sub-title">
        <div class="title h-100 d-flex align-items-center justify-content-center"><h1>MENU</h1></div>
      </div>
    </div>
  </div>
  <div class="row col-12 h-300">
    <div class="nabe-box">
      <div class="nabe">
        <h1 class="middle h-100 d-flex align-items-center justify-content-center">鍋</h1>
        </div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe py-3 px-2">
        <ul>
          <li class="text">二人前から注文が可能です。</li>
          <li class="text">〆は、そば、うどん、ご飯から選べます。</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-0 col-12 h-300">
    <div class="niku-box">
      <div class="niku">
        <h1 class="middle h-100 d-flex align-items-center justify-content-center">肉料理</h1>
        </div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku py-3 px-2">
        <ul>
          <li class="text">仕入れ状況により、ご提供できない場合があります。</li>
        </ul>
      </div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
    </div>
  </div>
  <div class="row col-12 h-300">
    <div class="nabe-box">
      <div class="korea">
        <h1 class="middle h-100 d-flex align-items-center justify-content-center">韓国風料理</h1>
      </div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
    </div>
  </div>
  <div class="row">
    <div class="row col menu-back">
      <div class="menu-box">
        <div class="side-menu-box">
          <div class="side-menu">
            <h1 class="middle h-100 d-flex align-items-center justify-content-center">サイドメニュー</h1>
          </div>
          <div class="side-menu"></div>
          <div class="side-menu"></div>
          <div class="side-menu"></div>
          <div class="side-menu"></div>
          <div class="side-menu"></div>
          <div class="side-menu"></div>
          <div class="side-menu"></div>
        </div>
        <div class="drink-box">
          <div class="drink">
            <h1 class="middle h-100 d-flex align-items-center justify-content-center">ドリンク</h1>
          </div>
          <div class="drink"></div>
          <div class="drink"></div>
          <div class="drink"></div>
          <div class="drink"></div>
          <div class="drink"></div>
          <div class="drink"></div>
          <div class="drink"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100 mx-0 about-padding">
    <p class="w-100 title-margin text-center"><%= link_to "Topへ戻る", root_path, class: "btn-color" %></p>
  </div>
</div>
