<div class="container-fluid p-0 background-gradient">
  <div class="under-header"></div>
  <div class="row my-40 mx-0 menu-title">
      <div class="col-8 p-0 h-100 mx-auto about-image">
        <div class="h-100 sub-title">
          <div class="title h-100 d-flex align-items-center justify-content-center"><h1>MENU</h1></div>
        </div>
      </div>
    </div>
  <div class="row col-12 h-300">
    <div class="nabe-box">
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
      <div class="nabe"></div>
    </div>
  </div>
  <div class="row p-0 col-12 h-300">
    <div class="niku-box">
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
      <div class="niku"></div>
    </div>
  </div>
  <div class="row col-12 h-300">
    <div class="nabe-box">
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
      <div class="korea"></div>
    </div>
  </div>
  <div class="row">
    <div class="row col menu-back">
      <div class="menu-box">
        <div class="side-menu"></div>
        <div class="side-menu"></div>
        <div class="side-menu"></div>
        <div class="side-menu"></div>
        <div class="side-menu"></div>
        <div class="side-menu"></div>
        <div class="side-menu"></div>
        <div class="side-menu"></div>
      </div>
    </div>
  </div>
</div>
