<div class="container-fluid p-0">
  <div class="under-header"></div>
  <section class="row mx-0", style="height: 100vh;">
    <div class="col-8 p-0 h-100 mx-auto">
      <div class="h-100">
        <h1 class="title d-flex align-items-end justify-content-end", style="height: 40vh;">ご予約完了いたしました</h1>
        <h2 class="middle d-flex align-items-center justify-content-center", style="height: 20vh;">お待ちしております</h2>
        <p class="d-flex justify-content-center"><%= link_to "Topへ戻る", root_path, class: "btn-color" %></p>
      </div>
    </div>
  </section>
</div>