<div class="container-fluid title-margin title-bar">
  <div class="row h-100">
    <div class="col-8 h-100 mx-auto title-textbox">
      <div class="title h-100 d-flex align-items-center justify-content-center"><h1>管理者Top</h1></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="middle">TAKEOUT予約</h2>
    </div>
    <div class="col-sm-6">
      <div class="m-5">
        <%=link_to "Menu管理画面へ", new_recommendation_path, class: "col-10 btn btn-outline-success btn-lg my-4" %>
        <%=link_to "Takeout管理画面へ", new_takeout_item_path, class: "col-10 btn btn-outline-success btn-lg my-4" %>
        <%=link_to "お知らせ管理画面へ", new_notice_path, class: "col-10 btn btn-outline-success btn-lg my-4" %>
      </div>
    </div>
  </div>
</div>