<div class="container-fluid my-40 title-bar">
  <div class="row h-100">
    <div class="col-8 h-100 mx-auto title-textbox">
      <div class="title d-flex align-items-center justify-content-center">管理者Top</div>
    </div>
  </div>
</div>