<div class="container-fluid p-0">
  <div class="row relative">
    <div class="col-6 top-image"></div>
    <div class="col-6 top-image"></div>
    <div class="top-textbox"><span class="h-100 title d-flex align-items-center justify-content-center">ねむび屋</span></div>
  </div>
  <div class="p-0 background-gradient">
    <div class="row w-85 mx-auto about-padding">
      <div class="col-sm-6">
        <h2 class="title text-light mb-5">About</h2>
        <h4 class="middle text-light mb-140">韓国風居酒屋ねむび屋</h4>
        <p class="text  small text-light">
          ここにテキストがはいる。ここにテキストがはいる。<br>
          ここにテキストがはいる。ここにテキストがはいる。<br>
          ここにテキストがはいる。ここにテキストがはいる。<br>
          ここにテキストがはいる。ここにテキストがはいる。<br><br>
          ここにテキストがはいる。ここにテキストがはいる。<br>
          ここにテキストがはいる。ここにテキストがはいる。<br>
          ここにテキストがはいる。ここにテキストがはいる。<br>
          ここにテキストがはいる。ここにテキストがはいる。<br><br>
          ここにテキストがはいる。ここにテキストがはいる。<br>
          ここにテキストがはいる。ここにテキストがはいる。<br>
        </p>
      </div>
      <div class="col-sm-6 mt-3">
        <%= image_tag "cropPAKS_BISTROtennai.jpg", class: "w-85"%>
      </div>
    </div>
    <div class="row my-40 title-bar">
      <div class="col-8 p-0 h-100 mx-auto about-image">
        <div class="h-100 sub-title"><span class="title h-100 d-flex align-items-center justify-content-center">今月のおすすめ</span></div>
      </div>
    </div>
    <div class="row w-60 mx-auto about-padding"></div>
  </div>
</div>
