<div class="container-fluid p-0 background-gradient">
  <div class="under-header"></div>
  <div class="row my-40 mx-0 title-bar">
    <div class="col-8 p-0 h-100 mx-auto about-image">
      <div class="h-100 sub-title">
        <h1 class="title h-100 d-flex align-items-center justify-content-center">CART </h1>
      </div>
    </div>
  </div>
    <div class="row mx-0 w-80">
      <table>
        <th></th>
        <% @cart_items.each do |cart_item| %>
          <tr class="border-bottom border-dark">
            <td class=" pt-4"><%= image_tag cart_item.takeout_item.image, size: "240x180" %></td>
            <td><p class="middle d-flex justify-content-center"><%= cart_item.takeout_item.takeout_name %></p></td>
            <td><p class="middle d-flex justify-content-center"><%= cart_item.amount %></p></td>
            <td><p><%= cart_item.takeout_item.tax_price %>円</p></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>