// Place all the styles related to the recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

th,td,label{
  color: #000;
}
.menu-title{
height: 450px;
 background-color: #560D04;
}
.h-300{
  margin-top: 300px;
}

// --------------<ここから鍋料理のCSS>---------------
.nabe-box{
  width: 1200px;
  height: 935px;
  margin-left: 100px;
  position: relative;
}
.nabe{
  background-color: #fff;
  margin: 0 10px 10px 0;
}
.nabe:first-child{
  width: 700px;
  height: 525px;
}
.nabe:nth-child(2){
  width: 490px;
  height: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 0;
  background-image: image-url('nabe2.jpg');
  background-size: cover;
  background-position: center;
}
.nabe:nth-child(3){
  width: 240px;
  height: 265px;
  position: absolute;
  top: 260px;
  left: 710px;
  background-image: image-url('nabe4.jpg');
  background-size: cover;
  background-position: center;
}
.nabe:nth-child(4){
  width: 240px;
  height: 415px;
  position: absolute;
  top: 260px;
  right: 0px;
  margin-right: 0;
  background-image: image-url('nabe1.jpg');
  background-size: cover;
  background-position: center;
}
.nabe:nth-child(5){
  width: 400px;
  height: 400px;
  position: absolute;
  top: 535px;
  left: 0px;
  margin-bottom: 0;
  background-image: image-url('E3CCDCC9-9ABA-4435-8FEC-EEFE5EF8E7ED.jpg');
  background-size: cover;
  background-position: center;
}
.nabe:nth-child(6){
  width: 540px;
  height: 400px;
  position: absolute;
  top: 535px;
  left: 410px;
  margin-bottom: 0;
  background-image: image-url('nabe3.jpg');
  background-size: cover;
  background-position: center;
}
.nabe:nth-child(7){
  width: 240px;
  height: 250px;
  position: absolute;
  top: 685px;
  right: 0px;
  margin-bottom: 0;
  margin-right: 0;
}

// --------<ここから肉料理のCSS>-----------
.niku-box{
  width: 1200px;
  height: 935px;
  margin: 0 100px 0 auto;
  position: relative;
}
.niku{
  background-color: #fff;
  margin: 0 10px 10px 0;
}
.niku:first-child{
  width: 700px;
  height: 525px;
}
.niku:nth-child(2){
 width: 240px;
 height: 350px;
 position: absolute;
 top: 0;
 left: 710px;
 background-image: image-url('niku2.jpg');
 background-size: cover;
 background-position: center;
}
.niku:nth-child(3){
 width: 240px;
 height: 240px;
 position: absolute;
 top: 0;
 right: 0;
 margin-right: 0;
 background-image: image-url('niku3.jpg');
 background-size: cover;
 background-position: center;
}
.niku:nth-child(4){
 width: 240px;
 height: 165px;
 position: absolute;
 top: 360px;
 left: 710px;
 margin-bottom: 0;
}
.niku:nth-child(5){
 width: 100px;
 height: 100px;
 position: absolute;
 top: 525px;
 left: 850px;
}
.niku:nth-child(6){
 width: 240px;
 height: 375px;
 position: absolute;
 top: 250px;
 right: 0px;
 margin-right: 0;
 background-image: image-url('niku5.jpg');
 background-size: cover;
 background-position: center;
}
.niku:nth-child(7){
 width: 300px;
 height: 400px;
 position: absolute;
 top: 535px;
 left: 0px;
 margin-bottom: 0;
 background-image: image-url('niku2.jpg');
 background-size: cover;
 background-position: center;
}
.niku:nth-child(8){
 width: 530px;
 height: 400px;
 position: absolute;
 top: 535px;
 left: 310px;
 margin-bottom: 0;
 background-image: image-url('niku1.jpg');
 background-size: cover;
 background-position: center;
}
.niku:nth-child(9){
 width: 350px;
 height: 300px;
 position: absolute;
 top: 635px;
 right: 0px;
 margin-bottom: 0;
 margin-right: 0;
 background-image: image-url('niku4.jpg');
 background-size: cover;
 background-position: center;
}

// ---------------<ここから韓国風料理のCSS>--------------
.korea{
 background-color: #fff;
 margin: 0 10px 10px 0;
}
.korea:first-child{
 width: 700px;
 height: 525px;
}
.korea:nth-child(2){
 width: 490px;
 height: 250px;
 position: absolute;
 top: 0px;
 right: 0px;
 margin-right: 0;
 background-image: image-url('korea6.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(3){
 width: 240px;
 height: 265px;
 position: absolute;
 top: 260px;
 left: 710px;
 background-image: image-url('korea7.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(4){
 width: 240px;
 height: 415px;
 position: absolute;
 top: 260px;
 right: 0px;
 margin-right: 0;
 background-image: image-url('korea4.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(5){
 width: 400px;
 height: 190px;
 position: absolute;
 top: 535px;
 left: 0px;
 background-image: image-url('korea3.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(6){
 width: 290px;
 height: 190px;
 position: absolute;
 top: 535px;
 left: 410px;
 background-image: image-url('korea1.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(7){
 width: 240px;
 height: 190px;
 position: absolute;
 top: 535px;
 left: 710px;
 background-image: image-url('korea8.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(8){
 width: 250px;
 height: 200px;
 position: absolute;
 top: 735px;
 left: 0px;
 margin-bottom: 0;
 background-image: image-url('korea2.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(9){
 width: 250px;
 height: 200px;
 position: absolute;
 top: 735px;
 left: 260px;
 margin-bottom: 0;
 background-image: image-url('korea5.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(10){
 width: 430px;
 height: 200px;
 position: absolute;
 top: 735px;
 left: 520px;
 margin-bottom: 0;
 background-image: image-url('niku4.jpg');
 background-size: cover;
 background-position: center;
}
.korea:nth-child(11){
 width: 240px;
 height: 250px;
 position: absolute;
 top: 685px;
 right: 0px;
 margin-bottom: 0;
 margin-right: 0;
}

// -------------<ここからサイドメニューのCSS>------------
.menu-back{
  background-color: #111;
  padding: 100px 0 100px 0;
  margin-top: 200px;
}
.menu-box{
  width: 1350px;
  height: 710px;
  margin: 0 auto;
  display: flex;
}
.side-menu-box{
 width: 680px;
 height: 710px;
 position: relative;
}
.side-menu{
 background-color: #fff;
 margin: 0 10px 10px 0;
}
.side-menu:first-child{
 width: 400px;
 height: 350px;
}
.side-menu:nth-child(2){
 width: 260px;
 height: 150px;
 position: absolute;
 top: 0px;
 left: 410px;
 background-image: image-url('side7.jpg');
 background-size: cover;
 background-position: center;
}
.side-menu:nth-child(3){
 width: 260px;
 height: 260px;
 position: absolute;
 top: 160px;
 left: 410px;
 background-image: image-url('side5.jpg');
 background-size: cover;
 background-position: center;
}
.side-menu:nth-child(4){
 width: 260px;
 height: 350px;
 position: absolute;
 top: 360px;
 left: 0;
 margin-bottom: 0;
 background-image: image-url('side4.jpg');
 background-size: cover;
 background-position: center;
}
.side-menu:nth-child(5){
 width: 130px;
 height: 170px;
 position: absolute;
 top: 360px;
 left: 270px;
 background-image: image-url('side3.jpg');
 background-size: cover;
 background-position: center;
}
.side-menu:nth-child(6){
 width: 130px;
 height: 100px;
 position: absolute;
 top: 430px;
 left: 410px;
}
.side-menu:nth-child(7){
 width: 270px;
 height: 170px;
 position: absolute;
 top: 540px;
 left: 270px;
 background-image: image-url('side6.jpg');
 background-size: cover;
 background-position: center;
}
.side-menu:nth-child(8){
 width: 120px;
 height: 280px;
 position: absolute;
 top: 430px;
 left: 550px;
 background-image: image-url('side2.jpg');
 background-size: cover;
 background-position: center;
}

// ----------<ここからドリンクのCSS>------------
.drink-box{
 width: 670px;
 height: 710px;
 position: relative;
}
.drink{
 background-color: #fff;
 margin: 0 10px 10px 0;
}
.drink:first-child{
 width: 400px;
 height: 350px;
 position: absolute;
 top: 0px;
left: 0px;
}
.drink:nth-child(2){
 width: 260px;
 height: 260px;
 position: absolute;
 top: 0px;
 left: 410px;
 margin-right: 0;
 background-image: image-url('drink.jpg');
 background-size: cover;
 background-position: center;
}
.drink:nth-child(3){
 width: 120px;
 height: 80px;
 position: absolute;
 top: 270px;
 left: 410px;
}
.drink:nth-child(4){
 width: 260px;
 height: 220px;
 position: absolute;
 top: 360px;
 left: 0px;
 background-image: image-url('drink2.jpg');
 background-size: cover;
 background-position: center;
}
.drink:nth-child(5){
 width: 260px;
 height: 220px;
 position: absolute;
 top: 360px;
 left: 270px;
 background-image: image-url('drink3.jpg');
 background-size: cover;
 background-position: center;
}
.drink:nth-child(6){
 width: 130px;
 height: 310px;
 position: absolute;
 top: 270px;
 right: 0px;
 margin-right: 0;
 background-image: image-url('drink5.jpg');
 background-size: cover;
 background-position: center;
}
.drink:nth-child(7){
 width: 400px;
 height: 120px;
 position: absolute;
 top: 590px;
 left: 0px;
 margin-right: 0;
 background-image: image-url('drink6.jpg');
 background-size: cover;
 background-position: center;
}
.drink:nth-child(8){
 width: 260px;
 height: 120px;
 position: absolute;
 top: 590px;
 right: 0px;
 margin-right: 0;
 background-image: image-url('drink4.jpg');
 background-size: cover;
 background-position: center;
}