// Place all the styles related to the takeout_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.attention{
  height: 160px;
  background-color: #fff;
}

.takeout-items-back{
  background-color: #111;
  padding: 50px;
}

.card{
  width:800px;
  height: 300px;
}

.h-80{
  height: 70%;
}

.w-80{
 width: 80%;
}

.w-50{
  width: 50%;
}

.takeout-padding{
 padding-top: 100px;
 padding-bottom: 410px;
}